{
  "token": "yourToken",
  "startCommand": ".",
  "userAdmin": "yourId",
  "nsfwChan": "nsfwChanId",
  "guildID": "guildID",
  "redmineUrl": "url.com",
  "redmineToken": "redmineToken",
  "redmineId": "userId"
}
